#root {
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.csv-ledger-upload-area {
  display: inline-flex;
  width: 100%;
  max-width: 400px;
  height: 130px;
  margin: auto;
  place-items: center center;

  .loading-spinner {
    font-size: 64px;
  }

  .upload-icon-container {
    display: inline-flex;
    margin-bottom: 16px;

    .upload-icon {
      font-size: 48px;
      color: #1668dc;
    }
  }

  .text-line {
    font-size: 16px;
  }
}

.live-revenue-data-control {
  display: inline-flex;

  > .label {
    display: block;
  }

  > * {
    cursor: pointer;
  }
}
