.cmp-user-main-screen {
  display: flex;
  flex-direction: column;
  width: calc(min(970px, 100% - 40px));
  margin: auto;
  gap: 50px 0;
  padding: 30px 0;

  .upload-trades {
    align-self: center;
  }

  .portfolio-top-strip {
    display: grid;
    grid-template: auto / 1fr auto;

    .portfolio-stats-area {
      align-self: flex-start;
    }

    .portfolio-options-area {
      align-content: center;
    }
  }

  .positions-table {
    width: 100%;
  }
}
