.cmp-user-main-screen {
  display: flex;
  flex-direction: column;
  width: calc(min(900px, 100% - 40px));
  margin: auto;
  gap: 50px 0;
  padding: 30px 0;

  .upload-trades {
    align-self: center;
  }

  .positions-table {
    width: 100%;
  }
}
