.user-main-screen {
  display: flex;
  flex-direction: column;
  width: calc(min(100% - 40px, 900px));
  margin: auto;

  > * {
    &:first-child {
      margin-top: 30px;
    }

    &:not(:first-child) {
      margin-top: 50px;
    }
  }

  .account-main-menu-container {
    .account-main-menu-button {
      display: flex;
      align-items: flex-end;
      cursor: default;

      .user-icon {
        font-size: 30px;
      }
    }
  }

  .csv-ledger-upload-area {
    display: inline-flex;
    align-self: center;
    width: 100%;
    max-width: 400px;
    height: 130px;

    .loading-spinner {
      font-size: 64px;
    }

    .upload-icon-container {
      display: inline-flex;
      margin-bottom: 16px;

      .upload-icon {
        font-size: 48px;
        color: #1668dc;
      }
    }

    .text-line {
      font-size: 16px;
    }
  }

  .positions-table {
    width: 100%;
  }
}
