.cmp-upload-trades-area {
  display: inline-flex;
  width: 100%;
  max-width: 400px;
  height: 130px;

  .loading-spinner {
    font-size: 4rem;
  }

  .upload-icon-container {
    display: inline-flex;
    margin-bottom: 16px;

    .upload-icon {
      font-size: 3rem;
      color: #1668dc;
    }
  }

  .text-line {
    font-size: 1rem;
  }
}
