.cmp-positions-table {
  .symbol-cell {
    width: 150px;
  }

  .current-price-cell {
    width: 21%;
  }

  .unrealized-pnl-cell {
    .unrealized-pnl-display {
      font-size: 0.9rem;
    }
  }

  .portfolio-portion-cell {
    .portion {
      font-size: 0.95rem;
    }
  }
}
