.cmp-positions-table {
  .expandable-positions-container {
    & > .ant-table-cell {
      background: var(--ant-color-bg-container);
    }
  }

  .current-price-cell {
    width: 21%;
  }

  .symbol-cell {
    width: 150px;
  }
}
