.cmp-positions-table {
  .expandable-positions-container {
    & > .ant-table-cell {
      background: var(--ant-color-bg-container);
    }
  }

  .current-price-cell {
    width: 21%;

    .cell-content {
      display: flex;

      > :not(:first-child) {
        margin-left: 6px;
      }
    }
  }

  .symbol-cell {
    width: 9%;
  }
}
