.cmp-unrealized-pnl-display {
  display: inline-block;

  .pnl-amount-value {
    font-size: 1.25em;

    .profit-or-loss-indicator-arrow {
      font-size: 0.5em;
    }
  }

  .pnl-percentage-value {
    font-size: 0.875em;

    &.has-profit {
      color: #35cb8e;
    }
    &.has-loss {
      color: #e62333;
    }
  }
}
